Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Bump versions and remove S3
  backend/package.json
  backend/src/swagger.json
  frontend/package.json
  frontend/src/services/S3Service.tsx
  frontend/yarn.lock
Due: backend, frontend

Enhance README and add technologies
  README.md
Due: none

Update dependencies
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: backend, frontend

Add caching to workflows
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
  .github/workflows/backend-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/frontend-cd-production.yml
  .github/workflows/frontend-cd-staging.yml
  .github/workflows/frontend-ci.yml
Due: none

Testing CI (WIP)
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Try caching with absolute path
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
  .github/workflows/backend-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/frontend-cd-production.yml
  .github/workflows/frontend-cd-staging.yml
  .github/workflows/frontend-ci.yml
Due: none

Cache is working, readding path triggers
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Use only add fake field migration
  backend/README.md
  backend/src/migrations/1616271782519-init_users.ts
  backend/src/migrations/1616287469423-init_posts.ts
Due: backend

Try new path format for caching
  .github/workflows/backend-ci.yml
Due: none

Try other caching
  .github/workflows/backend-ci.yml
Due: none

I am once again asking you for your cache
  .github/workflows/backend-ci.yml
Due: none

Woops, correct name of step
  .github/workflows/backend-ci.yml
Due: none

Remove cache hit check
  .github/workflows/backend-ci.yml
Due: none

Rename cache
  .github/workflows/backend-ci.yml
Due: none

Try something else, again
  .github/workflows/backend-ci.yml
Due: none

Update caching in CI, should work now
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
  .github/workflows/backend-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/frontend-cd-production.yml
  .github/workflows/frontend-cd-staging.yml
  .github/workflows/frontend-ci.yml
Due: none

Implements reactions and comments endpoints (#528)
  backend/src/controllers/posts.controller.ts
  backend/src/factories/posts.factory.ts
  backend/src/middlewares/error.handler.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/posts.ts
Due: backend

Adds 'GET /hashtags' API endpoint (#514)
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  backend/src/controllers/hashtags.controller.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/hashtags.ts
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/hooks/hashtags/useGetHashtags.ts
  frontend/src/services/APIService.tsx
  frontend/src/types/hashtags.ts
  frontend/src/views/search/SearchView.tsx
Due: backend, frontend

Resolves bug where deleting post redirects to Feed View (#522)
  frontend/src/components/posts/PostCard.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

add Camera to post
  frontend/package.json
  frontend/src/components/Cam/ImagePreview.tsx
  frontend/src/components/Cam/index.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/posts/PostImage.tsx
Due: frontend

Adds E2E tests for comments and reactions
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

add image reset to camera + fix camera width for desktop
  frontend/src/components/Cam/ImagePreview.tsx
  frontend/src/components/Cam/index.css
  frontend/src/components/Cam/index.tsx
  frontend/src/components/posts/PostForm.tsx
Due: frontend

reverse to div component
  frontend/src/components/posts/PostImage.tsx
Due: frontend

add ImagePreview tests
  frontend/src/components/Cam/ImagePreview.test.tsx
Due: frontend

add cam tests
  frontend/src/components/Cam/index.test.tsx
Due: frontend

add tests
  frontend/src/components/Cam/Cam.stories.tsx
  frontend/src/components/Cam/ImagePreview.test.tsx
  frontend/src/components/Cam/index.test.tsx
  frontend/src/components/Cam/index.tsx
Due: frontend

fix template props
  frontend/src/components/Cam/Cam.stories.tsx
Due: frontend

fix default cam args
  frontend/src/components/Cam/Cam.stories.tsx
Due: frontend

set storybook webpack config
  frontend/.storybook/webpack.config.js
Due: frontend

delete useless log
  frontend/src/components/posts/PostImage.tsx
Due: frontend

delete useless log
  frontend/src/components/posts/CreatePost.tsx
Due: frontend

Adds server-side events
  backend/src/controllers/posts.controller.ts
  backend/src/main.ts
  backend/src/middlewares/events.ts
  backend/src/repositories/posts.repository.ts
  backend/src/types/notifications.ts
  frontend/src/App.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/types/notifications.ts
Due: backend, frontend

Adds E2E tests for comments and reactions (#531)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Fix Navigation.test
  frontend/src/components/Navigation.test.tsx
Due: frontend

Removes useless conditions on useEffect
  frontend/src/App.tsx
Due: frontend
