Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Resolves bug : redirected to login page on page reload (#429)
  frontend/src/App.tsx
Due: frontend

Enhance fallback for routes
  frontend/src/router/Config.tsx
  frontend/src/router/RouteWithSubRoutes.tsx
  frontend/src/router/RouterProps.d.ts
Due: frontend

Consolidates currentUser with loggedUser (#436)
  frontend/src/App.tsx
  frontend/src/components/posts/PostCard.stories.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/useActOnAPI.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
  frontend/src/views/settings/EditUserTab.tsx
  frontend/src/views/settings/SettingsView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

Fixes page refresh on 401 (#437)
  backend/yarn.lock
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
  frontend/src/components/users/settings/TabPanel.tsx
  frontend/src/hooks/useActOnAPI.tsx
  frontend/src/http-common.tsx
Due: backend, frontend

intense settings form refactoring in progress
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/useActOnAPI.tsx
  frontend/src/hooks/users/useUpdateUser.tsx
  frontend/src/views/settings/EditUserTab.tsx
  frontend/src/views/settings/SettingsView.tsx
Due: frontend

Fixes the PATCH request on navigating to the EDIT PROFILE page (#438)
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

seems to fix the recursion problem with Avatar
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

fixes TabPanel warning
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/TabPanel.tsx
Due: frontend

added description item in SearchBar dropdown and description tab in SearchView
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

Try new deploy with node
  .github/workflows/backend-cd-staging.yml
  backend/Dockerfile
  backend/Dockerfile.local
  backend/README.md
  docker-compose.yml
  frontend/.env.staging
Due: backend, frontend

Also push frontend
  .github/workflows/frontend-cd-staging.yml
  backend/README.md
Due: backend

fix mobile menu (#434)
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/navigation/Menu.tsx
  frontend/src/components/navigation/MenuStyle.tsx
  frontend/src/components/navigation/MobileMenu.test.tsx
  frontend/src/components/navigation/MobileMenu.tsx
Due: frontend

Center items in tag section (#415)
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

fix user header on phones (#423)
  frontend/src/components/users/header/UserHeaderMobile.tsx
Due: frontend

puts back in the post-merge commits
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/avatar/EditUserAvatar.stories.tsx
  frontend/src/components/users/avatar/EditUserAvatar.test.tsx
  frontend/src/components/users/avatar/EditUserAvatar.tsx
  frontend/src/components/users/avatar/UserAvatar.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/useActOnAPI.tsx
  frontend/src/views/settings/EditUserTab.tsx
Due: frontend

Fixes deserialization error not clearing cookies
  backend/src/middlewares/google.strategy.ts
  backend/src/repositories/users.repository.ts
Due: backend

Changes username to match user's email name
  backend/src/middlewares/google.strategy.ts
  backend/src/repositories/users.repository.ts
Due: backend

Adds back validation of duplicate usernames
  backend/src/repositories/users.repository.ts
Due: backend

created mosaic (SearchImages) for search by description
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

clean-up
  frontend/src/components/search/SearchImages.tsx
Due: frontend

rather extreme merge
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormValidation.tsx
  frontend/src/hooks/useActOnAPI.tsx
  frontend/src/router/RouteWithSubRoutes.tsx
  frontend/src/views/settings/EditUserTab.tsx
Due: frontend

error toast in case of delete error
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

changes back routes file
  backend/src/routes/routes.ts
Due: backend

Fix express limit upload file size
  backend/src/main.ts
Due: backend

adds frontend file size validation for avatar
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

lint fix in backend
  backend/src/main.ts
Due: backend

Use new environments
  .github/workflows/frontend-cd-staging.yml
  README.md
  frontend/.env.production
  frontend/.env.staging
Due: frontend

Change deployment configs for production
  .github/workflows/backend-cd-production.yml
  .github/workflows/frontend-cd-production.yml
Due: none

Add tests to CDs
  .github/workflows/backend-cd-production.yml
  .github/workflows/frontend-cd-production.yml
  docker-compose.yml
Due: none

Lol, yeah, I must build the backend
  .github/workflows/backend-cd-production.yml
Due: none

Remove temporary CD triggers
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-production.yml
  .github/workflows/frontend-cd-staging.yml
Due: none

Adds domain to cookie-session's config (#443)
  backend/src/main.ts
Due: backend

Remove src from deploy.zip
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
Due: none

Remove temp trigger
  .github/workflows/backend-cd-staging.yml
Due: none

Fix README link
  README.md
Due: none

Add upload post data
  backend/src/clients/s3.client.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/services/image.service.ts
  backend/src/types/posts.ts
Due: backend

Change Postman collection for new route logic
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Fixes incorrect session cookie domain (#452)
  backend/src/main.ts
Due: backend

Add CI check to main
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Change README to trigger CI (oh yes, it's a wild world
  backend/README.md
  frontend/README.md
Due: backend, frontend
