Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add deleteUser endpoint
  backend/src/controllers/users.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
Due: backend

Correctly handle promises and add avatar reference
  backend/src/clients/s3.client.ts
  backend/src/controllers/users.controller.ts
  backend/src/services/image.service.ts
  docker-compose.yml
Due: backend

Generate random file name
  backend/package.json
  backend/src/clients/s3.client.ts
  backend/yarn.lock
Due: backend

Handle S3 errors
  backend/src/clients/s3.client.ts
  backend/src/error.handler.ts
  backend/src/types/errors.ts
Due: backend

Validate data type
  backend/src/services/image.service.ts
Due: backend

Cleanup
  backend/src/controllers/users.controller.ts
  backend/src/services/image.service.ts
Due: backend

Add Postman requests
  backend/resources/postman_collection.json
  backend/resources/postman_environment.json
Due: backend

Retry connection up to 10 times with exponential timeout
  backend/src/connect.database.ts
Due: backend

Fixed SearchView; (next step: I remove description keywords)
  frontend/src/components/Navigation.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/router/Config.tsx
Due: frontend

Add query params to FeedView and SearchView
  frontend/src/components/search/SearchBar.tsx
  frontend/src/hooks/users/useGetUsers.tsx
  frontend/src/types/users.ts
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

removed description word from the search pre-defined items (will be free entry in search input)
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

add interface button to delete current user
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/users/useDeleteUser.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/settings/EditUserTab.tsx
  frontend/src/views/settings/SettingsView.tsx
Due: frontend

add routes and swagger
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Fix lint
  backend/src/connect.database.ts
Due: backend

search by description
  frontend/src/components/search/SearchBar.tsx
Due: frontend

fix search by description
  frontend/src/components/search/SearchBar.tsx
Due: frontend

Enhance logging info
  backend/src/connect.database.ts
Due: backend

Add logger error when upload avatar failed
  backend/src/clients/s3.client.ts
Due: backend

Parse image data before sending to S3
  backend/src/services/image.service.ts
Due: backend

Use avatarData in PATCH /user/:username
  backend/src/controllers/users.controller.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/users.ts
Due: backend

fix bug patch on edit profile load
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

GET /posts now returns posts which have no hashtag (#352)
  backend/resources/postman_collection_e2e.json
  backend/src/repositories/posts.repository.ts
Due: backend

Add production CD for backend
  .github/workflows/backend-cd-production.yml
Due: none

Force test
  .github/workflows/backend-cd-production.yml
Due: none

Rename retries to attempts
  backend/src/connect.database.ts
Due: backend

Change status error for externals ervice error
  backend/src/middlewares/error.handler.ts
Due: backend

Remove test in CD
  .github/workflows/backend-cd-production.yml
Due: none

Add CD badges to README
  README.md
Due: none

Add links to environments on README
  README.md
Due: none

Update environment links in README
  README.md
Due: none

Enhance structure of environment links
  README.md
Due: none

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
