Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix routing
  frontend/src/router/Config.tsx
  frontend/src/views/auth/LoginView.tsx
Due: frontend

lint fix
  frontend/src/components/navigation/ButtonMenuElement.test.tsx
  frontend/src/components/navigation/Menu.test.tsx
  frontend/src/components/navigation/MenuElement.test.tsx
  frontend/src/components/navigation/MenuElement.tsx
  frontend/src/services/APIService.tsx
Due: frontend

fix lint warnings
  frontend/src/components/navigation/ButtonMenuElement.test.tsx
  frontend/src/components/navigation/Menu.test.tsx
  frontend/src/views/auth/LoginView.tsx
Due: frontend

Search list table: pointer mouse cursor on row hover
  frontend/src/components/search/SearchList.tsx
Due: frontend

Adds authorization validation to post deletion and modification (#409)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/authenticator.ts
  backend/src/controllers/authorization.ts
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/main.ts
  backend/src/middlewares/error.handler.ts
  backend/src/routes/routes.ts
  backend/src/types/errors.ts
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/router/Config.tsx
  frontend/yarn.lock
Due: backend, frontend

Add cloudwatch logger to winston
  backend/package.json
  backend/src/clients/s3.client.ts
  backend/src/middlewares/aws.ts
  backend/src/middlewares/logger.ts
  backend/yarn.lock
Due: backend

Add test to workflow
  .github/workflows/backend-cd-production.yml
Due: none

Better usage of function
  backend/src/middlewares/logger.ts
Due: backend

adds avatar modification logic to Settings form
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/avatar/UserAvatar.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/users/useUpdateUser.tsx
Due: frontend

rollback to the old useUpdateUser
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/users/useUpdateUser.tsx
Due: frontend

Remove test from workflow
  .github/workflows/backend-cd-production.yml
Due: none

Simplify stream name
  backend/src/middlewares/logger.ts
Due: backend

delete comments
  frontend/src/components/Navigation.tsx
Due: frontend

fix routes for image upload
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/services/APIService.tsx
  frontend/src/types/users.ts
Due: frontend

fixes the placeholder image
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

fix the fact that the form was always trying to send something for the avatarData
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

add route delete with user verification
  backend/src/controllers/users.controller.ts
  backend/src/routes/routes.ts
Due: backend

fix delete user redirection to login
  frontend/src/App.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/context/userContext.tsx
  frontend/src/layouts/MainLayout.tsx
Due: frontend

add tests for EditUserFormButtons
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
Due: frontend

fix lint
  backend/src/controllers/users.controller.ts
  backend/src/repositories/posts.repository.ts
Due: backend

fix frontend lint
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
  frontend/src/components/users/settings/EditUserFormButtons.tsx
Due: frontend

Clears cookie when deleting user
  backend/src/controllers/users.controller.ts
Due: backend

fix build
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

fix lint
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
Due: frontend

keep hashtags with username on user delete
  backend/src/repositories/posts.repository.ts
Due: backend

fix void function delete test
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
Due: frontend

fix eslint no empty function
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
Due: frontend

fix lint
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
Due: frontend

Adds auth to GET requests, and redirects to login page on 401 (#416)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/token.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/middlewares/error.handler.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/routes/routes.ts
  frontend/src/http-common.tsx
Due: backend, frontend

put duplicate route back in place just to be able to work
  backend/src/controllers/users.controller.ts
  backend/src/types/users.ts
Due: backend

Use correct route to patch user
  backend/src/controllers/users.controller.ts
  backend/src/routes/routes.ts
  backend/src/types/users.ts
  frontend/src/services/APIService.tsx
Due: backend, frontend

Remove global flag from regex
  backend/src/services/image.service.ts
Due: backend

Add sentry to staging and production environments
  frontend/.env.production
  frontend/.env.staging
  frontend/package.json
  frontend/src/index.tsx
  frontend/yarn.lock
Due: frontend

Add key to RouterProps
  frontend/src/router/Config.tsx
  frontend/src/router/RouterProps.d.ts
Due: frontend

Fix fallback
  frontend/src/router/Config.tsx
  frontend/src/router/Fallback.tsx
Due: frontend

Uses session cookie to get logged user (#422)
  backend/src/middlewares/google.strategy.ts
  frontend/.eslintrc.json
  frontend/src/App.tsx
  frontend/src/context/userContext.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/http-common.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/router/PrivateRoute.tsx
  frontend/src/services/APIService.tsx
  frontend/src/util/cookie.ts
  frontend/src/views/auth/LoginView.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/users/UserView.tsx
Due: backend, frontend

Add message when no result is found (WIP : it's ugly)
  frontend/src/components/posts/PostList.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Correct text appearance
  frontend/src/components/posts/PostList.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Remove TODOs
  frontend/src/components/posts/PostList.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Enhance SearchList no result text
  frontend/src/components/search/SearchList.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
