Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove console log
  backend/src/repositories/mongo/mongo.posts.repository.ts
Due: backend

tentative infinite scroll in SearchView (Users/Hashtags only for now)
  frontend/package.json
  frontend/src/components/search/SearchList.tsx
  frontend/src/types/users.ts
  frontend/src/views/search/SearchView.tsx
  frontend/yarn.lock
Due: frontend

put back the query by value but does not work well..
  frontend/src/views/search/SearchView.tsx
Due: frontend

Use comparableCreatedAt in sort
  backend/src/repositories/mongo/mongo.posts.repository.ts
Due: backend

Remove debug, deploy app to test
  .github/workflows/backend-cd-staging.yml
  frontend/src/index.tsx
Due: frontend

That was the wrong CD
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-staging.yml
Due: none

Add production GA tracking ID, put CD back to normal
  .github/workflows/frontend-cd-staging.yml
  frontend/.env.production
Due: frontend

Fix CD
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-staging.yml
Due: none

Move init to services
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/GAService.tsx
  frontend/src/services/SentryService.tsx
Due: frontend

Only log page if GA is used
  frontend/src/services/GAService.tsx
Due: frontend

Functional infinite scroll for Users List :D Finally!
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

handle loading completed
  frontend/src/components/search/SearchList.tsx
Due: frontend

on-going inifinite scroll for hashtags
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/hooks/hashtags/useGetHashtags.ts
  frontend/src/views/search/SearchView.tsx
Due: frontend

remove infinite scroll attempt for hashtags (not supported because not mandatory in L3)
  frontend/src/components/search/SearchList.tsx
  frontend/src/hooks/hashtags/useGetHashtags.ts
Due: frontend

ends the implementation of reactions and comments
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostIcon.tsx
  frontend/src/components/posts/PostImage.tsx
  frontend/src/components/posts/PostItemCounter.tsx
  frontend/src/components/posts/TagsSection.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

Add comparableCreatedAt field to post pagination
  backend/src/factories/comparable.created.at.factory.ts
  backend/src/factories/posts.factory.ts
  backend/src/models/posts.model.ts
  backend/src/types/posts.ts
Due: backend

Fix most e2e test, still missing some logic (WIP)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Fix e2e test
  backend/resources/postman_collection_e2e.json
Due: backend

Revert "Merge branch 'develop' into feature/postcard-reactions-and-comments"
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/factories/comparable.created.at.factory.ts
  backend/src/factories/posts.factory.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/posts.ts
Due: backend

put back develop's whole backend manually
  backend/src/clients/image.client.ts
  backend/src/clients/s3/s3.image.client.ts
  backend/src/controllers/authorization.ts
  backend/src/controllers/hashtags.controller.ts
  backend/src/controllers/notifications.controller.ts
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/models/sessions.model.ts
  backend/src/models/users.model.ts
  backend/src/repositories/mongo/mongo.notifications.repository.ts
  backend/src/repositories/mongo/mongo.sessions.repository.ts
  backend/src/repositories/mongo/mongo.users.repository.ts
  backend/src/repositories/notifications.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/sessions.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/services/image.service.ts
  backend/src/services/search.service.ts
  backend/src/services/session.service.ts
  backend/src/swagger.json
  backend/src/types/posts.ts
Due: backend

adds the avatar in comments, same code as before
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/swagger.json
  backend/src/types/posts.ts
Due: backend

rebuild routes
  backend/src/routes/routes.ts
Due: backend

return post on createComment
  backend/src/controllers/posts.controller.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/repositories/posts.repository.ts
Due: backend

fixes tests
  frontend/src/components/users/avatar/UserAvatar.test.tsx
  frontend/src/views/posts/PostView.test.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

fixes PostView.test.tsx
  frontend/src/views/posts/PostView.test.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

lint fix frontend
  frontend/src/components/posts/Comment.tsx
  frontend/src/components/posts/TagsSection.tsx
  frontend/src/views/posts/PostView.test.tsx
Due: frontend

lint fix backend
  backend/src/controllers/posts.controller.ts
Due: backend

changes to PostView.test.tsx
  frontend/src/views/posts/PostView.test.tsx
Due: frontend

attempt to fix the story blocking the CI
  frontend/src/views/posts/PostView.tsx
Due: frontend

Functional Searchmages (Search post) infinite scroll
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchImages.stories.tsx
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.test.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/types/posts.ts
  frontend/src/views/search/SearchView.test.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

fixed tests, clean-up; Console logs to troubleshoot bug paginated getPosts
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchImage.test.tsx
  frontend/src/components/search/SearchImages.stories.tsx
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.test.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.test.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

Fixed the getPosts issue ;)
  frontend/src/components/search/SearchImages.tsx
  frontend/src/types/posts.ts
Due: frontend

removed console.log and obsolete comments;
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

oops forgot to commit fixed condition in fetch function
  frontend/src/components/search/SearchImages.tsx
Due: frontend

Removed obsolete code
  frontend/src/components/search/SearchList.tsx
Due: frontend

Fix key warning
  frontend/package.json
  frontend/src/components/search/SearchList.tsx
Due: frontend

Fix key warning for posts
  frontend/src/components/search/SearchImages.tsx
Due: frontend

Fix some usage of search value
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Cleanup usage of infinite scroll
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Fix lint
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
