Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

adds maximum values to user setting form
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

adds 1000 max value to comment form
  frontend/src/components/posts/CommentForm.tsx
Due: frontend

Separate SearchListHashtags from SearchList
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchListHashtags.tsx
Due: frontend

Add SearchListUsers
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.test.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchListUsers.tsx
  frontend/src/views/search/SearchView.tsx
  frontend/yarn.lock
Due: frontend

Fix lint
  frontend/src/components/search/SearchList.test.tsx
Due: frontend

mobile editor
  frontend/src/components/image/ImageEditor.css
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

Fix search query not updating feed view
  frontend/src/views/posts/FeedView.tsx
Due: frontend

Stabilize SearchBar
  frontend/src/components/search/SearchBar.tsx
Due: frontend

delete unused vars
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

Add top hashtags instructions in README
  README.md
Due: none

Add additionnal functionnalities to README
  README.md
Due: none

Add monitoring strategies to README
  README.md
Due: none

Test out useEffect logic to get data in paginated views
  frontend/src/components/search/SearchListPosts.tsx
  frontend/src/components/search/SearchListUsers.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

adds maxmium values in types, sets values and messages in 3 forms
  frontend/src/components/posts/CommentForm.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/types/posts.ts
  frontend/src/types/users.ts
Due: frontend

Fix typo
  README.md
Due: none

adds backend validation for users, posts, comments (missing hashtag and usertags)
  backend/src/models/posts.model.ts
  backend/src/models/users.model.ts
  backend/src/types/posts.ts
  backend/src/types/users.ts
Due: backend

Update README.md
  README.md
Due: none

augments the image max size, fixes lingering comment form validation text
  frontend/src/components/posts/CommentForm.tsx
  frontend/src/util/imageValidation.ts
Due: frontend

augments the image max size in backend as well
  backend/src/services/image.service.ts
Due: backend

fix responsive
  frontend/src/components/image/ImageEditor.css
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

preserve aspect ratio, according to height
  backend/src/services/image.service.ts
  backend/src/util/imageUtil.ts
Due: backend

git make menu fit for small devices
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

add tui defaut image validation
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

fix lint
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

delete log
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

plan B for Seach filter issue
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchListUsers.tsx
Due: frontend

Fixes double requests in infinite scrolling (#642)
  frontend/src/components/posts/PostForm.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

Remove CSS line that works really bad on firefox
  frontend/src/components/image/ImageEditor.css
Due: frontend

Add same isFetching logic to search list posts
  frontend/src/components/search/SearchListPosts.tsx
  frontend/src/components/search/SearchListUsers.tsx
Due: frontend

fixes missing prop for full sized PostImage in PostView
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostImage.tsx
  frontend/src/components/posts/PostList.tsx
Due: frontend

Center image in editor
  frontend/src/components/image/ImageEditor.css
Due: frontend

Add more descriptive validation toast
  frontend/src/components/image/ImageEditor.tsx
  frontend/src/components/posts/PostForm.tsx
Due: frontend

Bump versions to 3.0.0
  backend/package.json
  backend/src/swagger.json
  frontend/package.json
Due: backend, frontend

Remove project name from code
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-production.yml
  CONTRIBUTING.md
  README.md
  backend/package.json
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  frontend/package.json
Due: backend, frontend

Remove project name from wiki
  README.md
Due: none

Remove project name in some files
  .github/workflows/frontend-cd-staging.yml
  CONTRIBUTING.md
  backend/README.md
  backend/src/swagger.json
  database/README.md
  frontend/.env.production
  frontend/.env.staging
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/views/auth/LoginView.test.tsx
  frontend/src/views/auth/LoginView.tsx
  frontend/src/views/users/UserView.tsx
Due: backend, frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
