Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

infinite scroll for PostList
  frontend/src/components/posts/PostList.tsx
Due: frontend

Add post comment count to cards
  backend/resources/postman_collection_e2e.json
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/swagger.json
Due: backend

Only get more data is not top hashtags
  backend/src/migrations_feed/1616337720861-feed_users.ts
  backend/src/migrations_feed/1616340203258-feed_posts.ts
  frontend/src/components/search/SearchList.tsx
Due: backend, frontend

Update query for users and posts with search value
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Adds security decorators (#623)
  backend/src/controllers/authorization.ts
  backend/src/controllers/hashtags.controller.ts
  backend/src/controllers/notifications.controller.ts
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/search.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/middlewares/authorization.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/tsoa.json
Due: backend

empty comment textfield on send
  frontend/src/components/posts/CommentForm.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

adds link to profile in comment
  frontend/src/components/posts/Comment.tsx
Due: frontend

adds unique key to comments in CommentList to avoid console warning
  frontend/src/components/posts/CommentList.tsx
Due: frontend

Fix hasMore comparison
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Better usage of lastKey in infinite scroll
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

Fixes security decorators (#626)
  backend/src/middlewares/authorization.ts
Due: backend

adds tighter undefined management for post value
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/TagsSection.test.tsx
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

fixes comment button click that did not work for full width
  frontend/src/components/posts/CommentPostButton.tsx
Due: frontend

make comment button disabled when inside PostView
  frontend/src/components/posts/CommentPostButton.tsx
Due: frontend

adds uploadThumbnail method to image.service.ts
  backend/src/services/image.service.ts
  backend/src/util/imageUtil.ts
Due: backend

Infinite scroll: on-going re-structure so the other hook is not necessary
  frontend/src/components/posts/PostList.tsx
  frontend/src/components/posts/PostListFeed.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

infinite posts for user page (not functional yet)
  frontend/package.json
  frontend/src/components/posts/PostListUsers.tsx
  frontend/src/hooks/users/useGetUserPosts.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

Fixes infinite loading on UserView
  frontend/src/components/posts/PostListUsers.tsx
  frontend/src/hooks/users/useGetUserPosts.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

use Jimp within uploadThumbnail method
  backend/package.json
  backend/src/services/image.service.ts
  backend/src/util/imageUtil.ts
  backend/tsconfig.json
  backend/yarn.lock
Due: backend

add image editor
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/ModalBox.tsx
  frontend/src/components/cam/Cam.stories.tsx
  frontend/src/components/cam/Cam.test.tsx
  frontend/src/components/cam/Cam.tsx
  frontend/src/components/cam/ImagePreview.test.tsx
  frontend/src/components/cam/ImagePreview.tsx
  frontend/src/components/cam/index.css
  frontend/src/components/forms/ImageField.tsx
  frontend/src/components/image/ImageEditor.css
  frontend/src/components/image/ImageEditor.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/yarn.lock
Due: frontend

1) activity list: long commentaire depassant l'avatar de post 2) missing close X button in searchbar textbox in SearchView mode
  frontend/src/components/ActivityListItems.tsx
  frontend/src/components/search/SearchBar.tsx
Due: frontend

delete camera package from package.json
  frontend/package.json
Due: frontend

adds thumbnail upload when creating a post
  backend/src/controllers/users.posts.controller.ts
  backend/src/factories/posts.factory.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/services/image.service.ts
  backend/src/types/posts.ts
Due: backend

remove thumbnail from PostCreationParams in backend
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/types/posts.ts
Due: backend

Cleanup PostList usage of hooks
  frontend/src/components/posts/PostList.tsx
  frontend/src/components/posts/PostListFeed.tsx
  frontend/src/components/posts/PostListUsers.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.test.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

Enhance refresh posts method
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

add thumbnail to frontend Post type
  frontend/src/types/posts.ts
Due: frontend

delete eslint comments
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

fix lint errors
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

delete unused variables
  frontend/src/components/forms/ImageField.tsx
  frontend/src/components/image/ImageEditor.tsx
Due: frontend

add missing thumbnail in swagger and PostFactory
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

add thumbnail in PostFactory
  frontend/src/factories/PostFactory.tsx
Due: frontend

modifications to swagger and posts model
  backend/src/models/posts.model.ts
  backend/src/swagger.json
Due: backend

this seems like in the right path, but does not work
  backend/src/controllers/users.posts.controller.ts
  backend/src/models/posts.model.ts
  backend/src/routes/routes.ts
  backend/src/services/image.service.ts
  backend/src/swagger.json
  backend/src/types/posts.ts
Due: backend

fixes the resizing of images
  backend/src/controllers/users.posts.controller.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/services/image.service.ts
Due: backend

adds the thumbnail logic to frontend
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

modifies the exception text
  backend/src/controllers/users.posts.controller.ts
Due: backend

backend refactoring
  backend/src/services/image.service.ts
  backend/src/util/imageUtil.ts
Due: backend

Rename SearchImages to SearchListPosts
  frontend/src/components/search/SearchImages.stories.tsx
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.test.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchListPosts.stories.tsx
  frontend/src/components/search/SearchListPosts.test.tsx
  frontend/src/components/search/SearchListPosts.tsx
Due: frontend

adds maxmimum values to postform
  frontend/src/components/posts/PostForm.tsx
Due: frontend
