Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Fix babel-loader issues
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Remove usage of --frozen-lockfile in workflows
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
  .github/workflows/backend-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/frontend-cd-production.yml
  .github/workflows/frontend-cd-staging.yml
  .github/workflows/frontend-ci.yml
Due: none

Search hashtags by count
  backend/resources/postman_collection.json
  backend/src/services/search.service.ts
Due: backend

Add e2e tests for new search route
  backend/resources/postman_collection_e2e.json
Due: backend

Add correct notifications e2e test
  backend/resources/postman_collection_e2e.json
Due: backend

do not show arrow tooltip if no notifications
  frontend/src/components/ActivityList.tsx
Due: frontend

full sized PostView image and Reaction api call introduction
  frontend/src/components/posts/CommentPostButton.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/LikePostButton.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostImage.tsx
  frontend/src/components/posts/PostItemCounter.tsx
  frontend/src/hooks/posts/useReactToPost.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

while not perfect, adds the reactions to posts
  frontend/src/components/posts/Comment.tsx
  frontend/src/components/posts/CommentList.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/LikePostButton.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

fixed warnings when no notifications in DB And display "No notification found" in UI
  frontend/src/components/ActivityList.tsx
  frontend/src/components/ActivityListItems.tsx
Due: frontend

PR fixes
  backend/src/routes/routes.ts
  backend/src/services/search.service.ts
  backend/src/swagger.json
  backend/src/types/search.results.ts
  frontend/src/components/search/SearchBar.tsx
  frontend/src/types/search.results.ts
Due: backend, frontend

Remove TODOs
  backend/src/controllers/hashtags.controller.ts
  frontend/src/hooks/hashtags/useGetHashtags.ts
Due: backend, frontend

adds proper styling for the comment section
  frontend/src/components/posts/Comment.tsx
  frontend/src/components/posts/CommentForm.tsx
  frontend/src/components/posts/CommentList.tsx
  frontend/src/components/users/avatar/UserAvatar.tsx
  frontend/src/hooks/posts/useCreateUserComment.tsx
  frontend/src/hooks/useActOnAPI.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

reverses the order of comments
  frontend/src/components/posts/CommentForm.tsx
  frontend/src/components/posts/CommentList.tsx
  frontend/src/hooks/posts/useGetPost.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

disables the like button when a post is already liked
  frontend/src/components/posts/LikePostButton.tsx
Due: frontend

Error in search route #475 (was fixed in Navigation but not in MobileBar)
  frontend/src/components/MobileBar.tsx
Due: frontend

Add comment user avatar
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/posts.ts
  frontend/src/components/posts/Comment.tsx
  frontend/src/components/posts/CommentList.tsx
  frontend/src/types/posts.ts
Due: backend, frontend

adds Post return in backend on comment create, modifies the FeedView and UserView loading behaviors
  frontend/src/components/posts/CommentForm.tsx
  frontend/src/components/posts/CommentPostButton.tsx
  frontend/src/components/posts/CommentSection.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

adds Post return on comment create
  backend/src/controllers/posts.controller.ts
  backend/src/repositories/posts.repository.ts
Due: backend

adds anchor to comment-section when clicking on Comment button
  frontend/src/views/posts/PostView.tsx
Due: frontend

quality of life fixes for commenting
  frontend/src/components/posts/CommentPostButton.tsx
  frontend/src/components/posts/CommentSection.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

Interface some backend classes and remove getting hashtags ordered by name (#594)
  backend/src/clients/image.client.ts
  backend/src/clients/s3/s3.image.client.ts
  backend/src/controllers/authorization.ts
  backend/src/controllers/hashtags.controller.ts
  backend/src/controllers/notifications.controller.ts
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/repositories/mongo/mongo.notifications.repository.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/repositories/mongo/mongo.users.repository.ts
  backend/src/repositories/notifications.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/services/image.service.ts
  backend/src/services/search.service.ts
  backend/src/swagger.json
  frontend/src/hooks/hashtags/useGetHashtags.ts
Due: backend, frontend

Trigger CD!
  .github/workflows/backend-cd-staging.yml
Due: none

Un-dumbify CD
  .github/workflows/backend-cd-staging.yml
Due: none

Seperates Session schema from User schema (#596)
  backend/src/controllers/authorization.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/models/sessions.model.ts
  backend/src/models/users.model.ts
  backend/src/repositories/mongo/mongo.sessions.repository.ts
  backend/src/repositories/mongo/mongo.users.repository.ts
  backend/src/repositories/sessions.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/services/session.service.ts
Due: backend

modifies PostsRepository interface to make createComment have a return type of SavedPost
  backend/src/repositories/posts.repository.ts
Due: backend

Revert "modifies PostsRepository interface to make createComment have a return type of SavedPost"
  backend/src/repositories/posts.repository.ts
Due: backend

Revert "Merge branch 'develop' into feature/postcard-reactions-and-comments"
  backend/src/clients/image.client.ts
  backend/src/clients/s3.client.ts
  backend/src/controllers/authorization.ts
  backend/src/controllers/hashtags.controller.ts
  backend/src/controllers/notifications.controller.ts
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/models/sessions.model.ts
  backend/src/models/users.model.ts
  backend/src/repositories/mongo/mongo.notifications.repository.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/repositories/mongo/mongo.sessions.repository.ts
  backend/src/repositories/mongo/mongo.users.repository.ts
  backend/src/repositories/notifications.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/sessions.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/services/image.service.ts
  backend/src/services/search.service.ts
  backend/src/services/session.service.ts
  backend/src/swagger.json
  frontend/src/components/MobileBar.tsx
  frontend/src/hooks/hashtags/useGetHashtags.ts
Due: backend, frontend

fixes comment text responsiveness
  frontend/src/components/posts/Comment.tsx
Due: frontend

Add basic Google Analytics things
  frontend/.env.local
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/router/Router.tsx
  frontend/yarn.lock
Due: frontend

Enhance usage of GA and add PR deployment test
  .github/workflows/backend-cd-staging.yml
  frontend/.env.local
  frontend/.env.staging
  frontend/src/App.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/GAService.tsx
Due: frontend

Re-hack CD
  .github/workflows/backend-cd-staging.yml
Due: none

Why the hell did I hack the wrong CD?
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-staging.yml
Due: none

Add CD config back to normal
  .github/workflows/frontend-cd-staging.yml
Due: none

Update dependencies
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: backend, frontend

Add comparableCreatedAt field to post pagination
  backend/src/factories/comparable.created.at.factory.ts
  backend/src/factories/posts.factory.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/types/posts.ts
Due: backend

Fix most e2e test, still missing some logic (WIP)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/mongo/mongo.posts.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Fix setting comparableCreatedAt
  backend/src/repositories/mongo/mongo.posts.repository.ts
Due: backend

Fix e2e test
  backend/resources/postman_collection_e2e.json
Due: backend
