Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

refactors TagsSection in order to not repeat code
  frontend/src/components/posts/HashtagsCardSection.stories.tsx
  frontend/src/components/posts/HashtagsCardSection.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/posts/TagChipList.tsx
  frontend/src/components/posts/TagsSection.stories.tsx
  frontend/src/components/posts/TagsSection.test.tsx
  frontend/src/components/posts/TagsSection.tsx
  frontend/src/components/posts/UsertagsCardSection.stories.tsx
  frontend/src/components/posts/UsertagsCardSection.test.tsx
  frontend/src/components/posts/UsertagsCardSection.tsx
Due: frontend

more tags section refactoring
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/posts/TagsSection.stories.tsx
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

make link only on avatar click, instead of whole PostCard header, making the edit and remove buttons accessible
  frontend/src/components/posts/PostCard.tsx
Due: frontend

remove dead code
  frontend/src/components/posts/PostForm.tsx
Due: frontend

wrap link around username
  frontend/src/components/posts/PostCard.tsx
Due: frontend

Temporarily remove retry mongo connection
  backend/src/connect.database.ts
Due: backend

Enhance current Dockerfile.local
  backend/Dockerfile.local
Due: backend

Enhance backend Dockerfile
  backend/Dockerfile
Due: backend

Oups
  backend/Dockerfile
Due: backend

Try port 80
  backend/Dockerfile
Due: backend

Put back 8080 port
  backend/Dockerfile
Due: backend

Use backend URL in env vars on frontend
  frontend/.env
  frontend/src/http-common.tsx
Due: frontend

Adds query params to GET users and GET posts
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/generators/fake.data.generator.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Fix lint
  backend/src/controllers/posts.controller.ts
Due: backend

serachbar generalization - addition of posts desc. and hashtag with icon in the autocomplete (on-going)
  frontend/src/components/Navigation.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/layouts/MainLayout.tsx
Due: frontend

Simplify frontend Dockerfile and add new dependencies
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Simplify backend Dockerfile and add new dependencies
  backend/Dockerfile
  backend/package.json
  backend/src/repositories/posts.repository.ts
  frontend/Dockerfile
  frontend/package.json
Due: backend, frontend

Add query params to some hooks
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/hooks/users/useGetUsers.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/services/APIService.tsx
  frontend/src/types/posts.ts
  frontend/src/types/users.ts
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
  frontend/src/views/settings/SettingsView.tsx
  frontend/src/views/users/UserView.tsx
Due: backend, frontend

Add hook to get user with query on search bar
  frontend/src/components/Navigation.stories.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/SearchBar.stories.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/hooks/users/useQueriedGetUsers.tsx
  frontend/src/layouts/MainLayout.tsx
Due: frontend

Separate useGetUsers from useGetLoggedUser
  frontend/src/components/SearchBar.tsx
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/hooks/users/useGetUsers.tsx
  frontend/src/hooks/users/useQueriedGetUsers.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
  frontend/src/views/settings/SettingsView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

improvements to the post Create/Edit/Delete process
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/DeletePost.tsx
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/hooks/posts/useDeletePost.tsx
  frontend/src/hooks/posts/useUpdatePost.tsx
  frontend/src/hooks/users/useCreateUserPost.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

delete works properly as of now
  frontend/src/components/posts/DeletePost.tsx
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostCard.stories.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/views/posts/PostView.tsx
Due: frontend

edit works properly
  frontend/src/components/posts/DeletePost.tsx
  frontend/src/components/posts/PostCard.tsx
Due: frontend

adds the userAvatar to PostFactory, fixes all tests but PostList
  frontend/src/components/posts/PostCard.test.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.test.tsx
  frontend/src/factories/PostFactory.tsx
  frontend/src/views/posts/PostView.test.tsx
Due: frontend

fixes PostList.test
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.test.tsx
Due: frontend

Try MongoDB Atlas
  backend/package.json
  backend/src/mongo.config.ts
  backend/src/rds-combined-ca-bundle.pem
Due: backend

Fix Dockerfiles
  backend/Dockerfile.local
  backend/src/swagger.json
  frontend/Dockerfile
Due: backend, frontend

lint fix
  frontend/src/components/posts/DeletePost.tsx
  frontend/src/components/posts/PostList.test.tsx
  frontend/src/components/posts/TagsSection.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

changes userAvatar size to 200, just like in UserFactory
  frontend/src/factories/PostFactory.tsx
Due: frontend

Use yarn start in Dockerfile
  backend/Dockerfile
Due: backend

fixes problem where UserView does not wait for individual content to be loaded before showing them
  frontend/src/components/posts/PostList.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

Force refresh in browserRouter
  frontend/src/App.tsx
Due: frontend

Remove unused component
  frontend/src/components/SearchBar.tsx
Due: frontend

Remove forceRefrsh
  frontend/src/App.tsx
Due: frontend

- SearchBar with dropdown containing users, hashtags and keyword - Started SearchView and route addition - Re-adjusted the width of 'UG' in mobile navbar
  frontend/src/components/Navigation.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/router/Config.tsx
  frontend/src/views/SearchView.tsx
Due: frontend

fixes the UserView problem, adds /posts/hashtag and /posts/description routes, several other fixes
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/router/Config.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

adds missing routes in Config.tsx
  frontend/src/router/Config.tsx
Due: frontend

Use query params in feed view
  frontend/src/components/SearchBar.stories.tsx
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/hooks/useQuery.tsx
  frontend/src/router/Config.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

fix bug error & succes simultaneous
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

fixes for infinite FeedView URLSearchParams and UserView
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend
