Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

search & user list dropdown proto
  frontend/package.json
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/SearchBar.tsx
  frontend/yarn.lock
Due: frontend

Remove react linting from backend and fix mongo duplicate errors
  backend/.eslintrc.json
  backend/package.json
  backend/src/error.handler.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/types/errors.ts
  backend/yarn.lock
Due: backend

Fix lint
  backend/src/repositories/users.repository.ts
Due: backend

Delete node_modules directory
  node_modules/.yarn-integrity
Due: none

on-going implementation with User type: hardcoded users(for now); load user page with history hook (for now) (better way to change route programmatically ?)
  frontend/src/components/SearchBar.tsx
Due: frontend

Create unleash_release.md
  .github/ISSUE_TEMPLATE/unleash_release.md
Due: none

Fix typo lol
  .github/ISSUE_TEMPLATE/unleash_release.md
Due: none

Add basic useUsers hook
  frontend/package.json
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useUsers.tsx
  frontend/src/types/posts.ts
  frontend/src/types/users.ts
  frontend/yarn.lock
Due: frontend

Add basic useUser hook
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useUsers.tsx
Due: frontend

Add simple posts hooks
  frontend/src/hooks/usePost.tsx
  frontend/src/hooks/usePosts.tsx
Due: frontend

Rename hooks
  frontend/src/hooks/useGetPost.tsx
  frontend/src/hooks/useGetPosts.tsx
  frontend/src/hooks/useGetUser.tsx
  frontend/src/hooks/useGetUsers.tsx
Due: frontend

Add useGetUserPosts hook
  frontend/src/hooks/useGetUserPosts.tsx
Due: frontend

Update useGetUser
  frontend/src/hooks/useGetUser.tsx
  frontend/src/hooks/useGetUserPosts.tsx
  frontend/src/http-common.tsx
  frontend/src/services/APIService.tsx
Due: frontend

Use new API service in hooks
  frontend/src/hooks/useGetPost.tsx
  frontend/src/hooks/useGetPosts.tsx
  frontend/src/hooks/useGetUserPosts.tsx
  frontend/src/hooks/useGetUsers.tsx
Due: frontend

Fix typo
  frontend/src/hooks/useGetUserPosts.tsx
Due: frontend

Use hooks in views
  frontend/src/router/Config.tsx
  frontend/src/views/posts/Feed.tsx
  frontend/src/views/posts/Post.tsx
  frontend/src/views/users/User.tsx
  frontend/src/views/users/Users.tsx
Due: frontend

Accept CORS in backend
  backend/package.json
  backend/src/main.ts
  backend/yarn.lock
Due: backend

Finish useGetPosts hook
  frontend/src/hooks/useGetPosts.tsx
  frontend/src/views/posts/Feed.tsx
Due: frontend

Generify useAPI hook
  frontend/src/hooks/useAPI.tsx
  frontend/src/hooks/useGetPosts.tsx
  frontend/src/util/wrapInMemoryRouter.tsx
Due: frontend

Use generic useAPI hook in other hooks
  frontend/src/hooks/useGetPost.tsx
  frontend/src/hooks/useGetPosts.tsx
  frontend/src/hooks/useGetUser.tsx
  frontend/src/hooks/useGetUserPosts.tsx
  frontend/src/hooks/useGetUsers.tsx
Due: frontend

adds grid layout for the Post view, removes dirty width styling from PostCard
  frontend/src/components/PostCardProps.d.tsx
  frontend/src/components/posts/PostCard.test.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/views/posts/Post.tsx
  frontend/yarn.lock
Due: frontend

Disable warning
  frontend/src/hooks/useAPI.tsx
Due: frontend

Correct warning disable
  frontend/src/hooks/useAPI.tsx
Due: frontend

Add auto reconnect to database on error
  backend/src/connect.database.ts
  backend/src/main.ts
Due: backend

Rewrite console logs
  backend/src/connect.database.ts
Due: backend

Enhance console logs
  backend/src/connect.database.ts
Due: backend

Add useCreateUser hook
  frontend/src/hooks/useCreateUser.tsx
  frontend/src/services/APIService.tsx
Due: frontend

Add useCreatePost hook
  frontend/src/hooks/useCreatePost.tsx
  frontend/src/hooks/useCreateUser.tsx
  frontend/src/services/APIService.tsx
Due: frontend

Add useUpdateUser hook
  frontend/src/hooks/useUpdateUser.tsx
  frontend/src/services/APIService.tsx
Due: frontend

Add useUpdatePost hook
  frontend/src/hooks/useUpdatePost.tsx
  frontend/src/services/APIService.tsx
Due: frontend

Add useDeletePost hook
  frontend/src/hooks/useDeletePost.tsx
  frontend/src/services/APIService.tsx
Due: frontend

Enhance retry datavase connection
  backend/src/connect.database.ts
Due: backend

implements useWindowDimensions
  frontend/src/components/posts/PostCard.test.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/hooks/useWindowDimensions.tsx
  frontend/src/views/posts/Post.tsx
Due: frontend

fixes drop-down; select with keypress (enter); clear after selection
  frontend/src/components/SearchBar.tsx
Due: frontend

Restructure hooks
  frontend/src/hooks/posts/useCreatePost.tsx
  frontend/src/hooks/posts/useDeletePost.tsx
  frontend/src/hooks/posts/useGetPost.tsx
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/posts/useUpdatePost.tsx
  frontend/src/hooks/users/useCreateUser.tsx
  frontend/src/hooks/users/useGetUser.tsx
  frontend/src/hooks/users/useGetUserPosts.tsx
  frontend/src/hooks/users/useGetUsers.tsx
  frontend/src/hooks/users/useUpdateUser.tsx
  frontend/src/views/posts/Feed.tsx
  frontend/src/views/posts/Post.tsx
  frontend/src/views/users/User.tsx
Due: frontend

Add hook to upload file to S3
  frontend/.env
  frontend/.env.example
  frontend/.gitignore
  frontend/src/hoc/awsS3.tsx
  frontend/src/hooks/images/useUploadToS3.tsx
  frontend/src/services/S3Service.tsx
Due: frontend

Rename hook
  frontend/src/hooks/images/useSaveToS3.tsx
Due: frontend

Add hooks to save avatar or post image
  frontend/src/hooks/images/useSaveAvatar.tsx
  frontend/src/hooks/images/useSavePostImage.tsx
Due: frontend

Add random filename generation
  frontend/package.json
  frontend/src/hooks/images/useSaveAvatar.tsx
  frontend/src/hooks/images/useSavePostImage.tsx
  frontend/src/hooks/images/useUploadToS3.tsx
  frontend/src/services/S3Service.tsx
  frontend/src/util/generateRandomFilename.test.tsx
  frontend/src/util/generateRandomFilename.tsx
  frontend/yarn.lock
Due: frontend

Try some new HOC
  frontend/src/hoc/withEditableAvatar.tsx
  frontend/src/hooks/images/useUploadToS3.tsx
Due: frontend
