Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

frontend fixes for the editUserForm
  frontend/src/components/forms/ImageField.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormButtons.tsx
  frontend/src/components/users/settings/TabPanel.tsx
  frontend/src/hooks/images/useUploadToS3.tsx
  frontend/src/views/settings/EditUserTab.tsx
Due: frontend

Remove dumb triggers
  backend/README.md
  frontend/README.md
Due: backend, frontend

fixed SearchList in IPhone5 #392 And warning in SearchList;
  frontend/src/components/search/SearchImages.tsx
  frontend/src/components/search/SearchList.tsx
Due: frontend

SearchImages storybook (could not test because storybooks broken)
  frontend/src/components/search/SearchImages.stories.tsx
Due: frontend

Change param name to simpler one
  backend/src/controllers/users.posts.controller.ts
Due: backend

Only CI-check ready for review PRs
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

only missing the toasts
  frontend/src/components/forms/ImageField.tsx
  frontend/src/components/forms/TextField.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/posts/TagsSection.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/util/imageValidation.ts
Due: frontend

replaces old snackback for new toasts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/DeletePost.tsx
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/hooks/users/useDeleteUser.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
  frontend/src/views/settings/EditUserTab.tsx
  frontend/src/views/users/UserView.tsx
  frontend/yarn.lock
Due: frontend

SearchView: fixed logic error in search by hashtag (showed an item per post instead of an item per hastag
  frontend/src/components/search/SearchList.tsx
Due: frontend

replaces reference with data in the frontend CreateUserPost logic
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/types/posts.ts
Due: frontend

clean-up getPost by query
  frontend/src/components/search/SearchBar.tsx
Due: frontend

More clean-up
  frontend/src/components/search/SearchBar.tsx
Due: frontend

Add first blank migration
  backend/Dockerfile
  backend/README.md
  backend/migrations/1616271782519-init_users.js
  backend/package.json
  backend/yarn.lock
Due: backend

Add part of migration
  backend/README.md
  backend/migrations/1616271782519-init_users.js
  backend/package.json
  backend/src/migrations/1616271782519-init_users.ts
Due: backend

handle the case if hashtag = description query; fixed warning;
  frontend/src/components/search/SearchBar.tsx
Due: frontend

Resolves fullWidth warning (#440)
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormButtons.test.tsx
  frontend/src/components/users/settings/EditUserFormButtons.tsx
  frontend/src/components/users/settings/TabPanel.tsx
  frontend/src/views/settings/EditUserTab.tsx
  frontend/src/views/settings/SettingsView.tsx
Due: frontend

Better import of model
  backend/src/migrations/1616271782519-init_users.ts
Due: backend

Fixes merge conflicts
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormButtons.tsx
Due: frontend

Only run CI for non-draft PRs
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Correctly fix CI to not check draft PRs
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Enhance migrate config
  backend/Dockerfile
  backend/migrate.json
  backend/package.json
Due: backend

Use models directly, it seems to partly work
  backend/src/migrations/1616271782519-init_users.ts
Due: backend

Move structure
  backend/migrate.json
  backend/migrations/1616271782519-init_users.ts
Due: backend

Successfully implement migration
  backend/migrate.json
  backend/src/connect.models.ts
  backend/src/migrations/1616271782519-init_users.js
  backend/src/migrations/1616271782519-init_users.ts
Due: backend

Finish init_users migration
  backend/src/connect.models.ts
  backend/src/migrations/1616271782519-init_users.ts
  backend/src/migrations/migration.utils.ts
Due: backend

Use bulkWrite instead
  backend/src/migrations/1616271782519-init_users.ts
  backend/src/migrations/migration.utils.ts
Due: backend

Add init_posts migration
  backend/README.md
  backend/src/migrations/1616271782519-init_users.js
  backend/src/migrations/1616287469423-init_posts.ts
Due: backend

Fix lint
  backend/src/migrations/1616271782519-init_users.ts
  backend/src/migrations/1616287469423-init_posts.ts
  backend/src/migrations/migration.utils.ts
Due: backend

fixes tests
  frontend/src/components/posts/PostCard.test.tsx
  frontend/src/setupTests.ts
  frontend/src/util/wrapInMemoryRouter.tsx
Due: frontend

Add migrations to backend CD
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
Due: none

isolate the usage of the mock workaround for createPortal
  frontend/src/components/posts/PostCard.test.tsx
  frontend/src/components/posts/PostList.test.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/layouts/MainLayout.test.tsx
  frontend/src/setupTests.ts
  frontend/src/views/posts/FeedView.test.tsx
  frontend/src/views/posts/PostView.test.tsx
  frontend/src/views/users/UserView.test.tsx
Due: frontend

Add missing changes to staging CD
  .github/workflows/backend-cd-staging.yml
Due: none

Autosync migrations
  .github/workflows/backend-cd-production.yml
  .github/workflows/backend-cd-staging.yml
Due: none

add delete modal
  frontend/src/components/users/settings/DeleteModal.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
  frontend/src/components/users/settings/EditUserFormButtons.tsx
Due: frontend

delete undestructing props
  frontend/src/components/users/settings/DeleteModal.tsx
Due: frontend

fix lint
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

Refreshes post count by passing down act callback (#464)
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/hooks/posts/useGetPost.tsx
  frontend/src/hooks/users/useGetUserPosts.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/posts/PostView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

add file too large description
  frontend/src/util/imageValidation.ts
Due: frontend

slight changes to old CreatePost form
  frontend/src/components/posts/PostForm.tsx
Due: frontend

adds loading gif while posts are fetching, instead of No results found
  frontend/src/components/DialogBox.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend
