Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove flags from coverage
  .github/workflows/coverage.yml
  codecov.yml
Due: none

Hide .env files
  .gitignore
  backend/.env
  database/.env
  frontend/.env
Due: backend, frontend

Separate Dockerfiles for backend
  .gitignore
  backend/Dockerfile.local
  backend/Dockerfile.staging
  backend/README.md
  docker-compose.yml
Due: backend

Add temporary CD for backend staging
  .github/workflows/backend-cd-staging.yml
  backend/Dockerfile
Due: backend

Update access keys
  .github/workflows/backend-cd-staging.yml
Due: none

Change checkout version
  .github/workflows/backend-cd-staging.yml
Due: none

Remove resources from zip
  .github/workflows/backend-cd-staging.yml
Due: none

?
  .github/workflows/backend-cd-staging.yml
Due: none

Version app
  .github/workflows/backend-cd-staging.yml
Due: none

Try with dev dependencies
  backend/Dockerfile
Due: backend

Rollback Dockerfile
  backend/Dockerfile
Due: backend

No that wasn't it
  backend/Dockerfile
Due: backend

Try new config
  backend/Dockerfile
  backend/src/main.ts
Due: backend

Try new Dockerfile
  backend/Dockerfile
Due: backend

Try new mongoose setup
  backend/src/connect.database.ts
  backend/src/mongo.options.ts
  backend/src/rds-combined-ca-bundle.pem
Due: backend

Try new db config
  backend/src/mongo.options.ts
Due: backend

Fix NODE_ENV
  backend/Dockerfile
Due: backend

Try recommended mongoose settings
  backend/src/connect.database.ts
  backend/src/mongo.config.ts
Due: backend

Try lightweight production modules
  backend/Dockerfile
  backend/package.json
Due: backend

Try to write user/pass in mongo config
  backend/src/mongo.config.ts
Due: backend

DB seems ok, let's fix credentials
  backend/src/mongo.config.ts
Due: backend

Fix lint
  backend/src/mongo.config.ts
Due: backend

Try to fix mongodb url
  .github/workflows/backend-cd-staging.yml
Due: none

Add logger to check mongo url
  backend/src/connect.database.ts
  backend/src/mongo.config.ts
Due: backend

Pretty sure this will work
  backend/src/mongo.config.ts
Due: backend

Try to copy less things
  backend/Dockerfile
Due: backend

How bout now
  backend/src/connect.database.ts
  backend/src/mongo.config.ts
Due: backend

New config
  backend/src/connect.database.ts
  backend/src/mongo.config.ts
Due: backend

Oops
  backend/src/mongo.config.ts
Due: backend

Fuck it, copying everything
  backend/Dockerfile
Due: backend

Move expose in Dockerfile
  backend/Dockerfile
Due: backend

Add copy cert
  backend/package.json
Due: backend

Try yarn start
  backend/Dockerfile
  backend/Dockerfile.local
  backend/package.json
Due: backend

Rollback to node
  backend/Dockerfile
Due: backend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
