Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Enhance test
  frontend/src/views/users/UserView.test.tsx
Due: frontend

Adds epsilon to date comparison
  backend/src/repositories/users.repository.ts
Due: backend

Re-add test when creating post with missing data and reference
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
Due: backend

Add new, enhanced pagination e2e tests
  backend/resources/postman_collection_e2e.json
Due: backend

Fix pagination e2e tests
  backend/resources/postman_collection_e2e.json
  backend/src/repositories/posts.repository.ts
  backend/src/swagger.json
Due: backend

Add GET /users/:username/posts e2e tests for pagination
  backend/resources/postman_collection_e2e.json
Due: backend

Add missing limit and fix e2e tests
  backend/resources/postman_collection_e2e.json
  backend/src/repositories/posts.repository.ts
Due: backend

Remove sort asc, that was the last problem with pagination logic for posts
  backend/src/repositories/posts.repository.ts
Due: backend

Change logic of e2e tests for after
  backend/resources/postman_collection_e2e.json
Due: backend

Re-add sort with some corrections
  backend/src/repositories/posts.repository.ts
Due: backend

Implement part of backend new users paging (WIP)
  backend/src/controllers/users.controller.ts
  backend/src/repositories/users.repository.ts
Due: backend

Add timed query to getting users
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
Due: backend

Fix lint
  backend/src/controllers/users.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
Due: backend

Fix type
  backend/src/repositories/users.repository.ts
Due: backend

Fit frontend with new users page results
  backend/src/routes/routes.ts
  backend/src/swagger.json
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/hooks/users/useGetUsers.tsx
  frontend/src/views/search/SearchView.test.tsx
  frontend/src/views/search/SearchView.tsx
Due: backend, frontend

Move limits to constant and add postman request
  backend/resources/postman_collection.json
  backend/src/controllers/hashtags.controller.ts
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
Due: backend

First version of e2e tests for paginating users
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
Due: backend

Fix e2e tests and re-add page query to reo
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Add remaining e2e tests
  backend/resources/postman_collection_e2e.json
Due: backend

Fix ordering before page query
  backend/src/repositories/users.repository.ts
Due: backend

on-going ActivityList (issue #524)
  frontend/src/components/ActivityList.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

Sets SameSite attribute to strict (#561)
  backend/src/main.ts
Due: backend

Handles user deletion and post deletion with cascading effects (#562)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/users.controller.ts
  backend/src/models/posts.model.ts
  backend/src/models/users.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
Due: backend

Adds more info to notification events (#559)
  backend/src/controllers/posts.controller.ts
  backend/src/models/notifications.model.ts
  backend/src/repositories/notifications.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/notifications.ts
  frontend/.eslintrc.json
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/types/notifications.ts
Due: backend, frontend

on-going ActivityList: notifications detailed info addition; clean-up;
  frontend/src/components/ActivityList.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

Add search controller (WIP)
  backend/src/controllers/search.controller.ts
  backend/src/services/search.service.ts
  backend/src/types/search.results.ts
  backend/src/types/users.ts
Due: backend

Add getting users in search result (WIP)
  backend/src/repositories/users.repository.ts
  backend/src/services/search.service.ts
  backend/src/types/search.results.ts
  backend/src/types/users.ts
Due: backend

Add getting hashtags in search result (WIP)
  backend/src/controllers/hashtags.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/services/search.service.ts
Due: backend

Add count of post by description to search query (WIP)
  backend/src/repositories/posts.repository.ts
  backend/src/services/search.service.ts
Due: backend

Add search hook to frontend
  backend/src/services/search.service.ts
  frontend/src/hooks/hashtags/useGetHashtags.ts
  frontend/src/hooks/search/useGetSearch.ts
  frontend/src/services/APIService.tsx
  frontend/src/types/search.results.ts
  frontend/src/types/users.ts
Due: backend, frontend

Use search query in search bar
  frontend/src/components/search/SearchBar.tsx
  frontend/src/hooks/search/useGetSearch.ts
Due: frontend

Correctly use search query in frontend
  backend/src/controllers/search.controller.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  frontend/src/services/APIService.tsx
Due: backend, frontend

on-going activity list
  frontend/src/components/ActivityList.tsx
  frontend/src/components/ActivityListItems.tsx
  frontend/src/components/ActivityListMobile.tsx
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

transports the reactions and comments logic in the frontend, changing the types and modifies the postcard layout for the FeedView
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostItemCounter.tsx
  frontend/src/factories/PostFactory.tsx
  frontend/src/types/posts.ts
Due: frontend

adds titles to post item counters
  frontend/src/components/posts/PostItemCounter.tsx
Due: frontend

added arrow tooltip on top of popper misc. bugs fix
  frontend/src/components/ActivityList.tsx
  frontend/src/components/ActivityListItems.tsx
  frontend/src/components/ActivityListMobile.tsx
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

- Close activity lists (desktop and mobile) when window is resize - Fixed unit tests & storybooks
  frontend/src/components/ActivityList.tsx
  frontend/src/components/ActivityListItems.tsx
  frontend/src/components/ActivityListMobile.tsx
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

fixed notified flag that was broken in mobile; clean-up (removed unnecessary code; order).
  frontend/src/components/ActivityListItems.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update backend dependencies (WIP : babel-loader has issues)
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: backend, frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
