Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

changed the automatic usertags parsing for a multi select
  frontend/package.json
  frontend/src/components/forms/MultiSelect.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/yarn.lock
Due: frontend

lint fix
  frontend/src/components/posts/PostForm.tsx
Due: frontend

fixes width problem with tags, multiple css adjustments to Create Post form
  frontend/src/assets/defaultImage.jpg
  frontend/src/components/forms/ImageField.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

add default values to multi select in post creation form
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

adjustments to tagssection responsiveness
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

Try entrypoint instead of cmd
  backend/Dockerfile
Due: backend

Add new config for mongo
  backend/src/connect.database.ts
  backend/src/mongo.config.ts
Due: backend

Correctly set NODE_ENV
  backend/Dockerfile
Due: backend

Fix lint
  backend/src/connect.database.ts
Due: backend

Remove deploying on PR (was there to test)
  .github/workflows/backend-cd-staging.yml
Due: none

Only deploy if CI has passed
  .github/workflows/backend-cd-staging.yml
Due: none

Remove unused exports
  backend/src/connect.database.ts
Due: backend

lint fix
  frontend/src/components/posts/PostCard.tsx
Due: frontend

wait for every part to finish loading before rendering
  frontend/src/views/posts/FeedView.tsx
Due: frontend

Remove deps
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

SearchBar with dropdown when not in SearchView (textbox in SearchView); SearchView with Users/Tags/Description tabs and lists: SearchTab and SearchList components; relocated search related components
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/search/SearchBar.stories.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/components/search/UsersList.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/router/Config.tsx
  frontend/src/views/SearchView.tsx
Due: frontend

relocated SearchView
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/router/Config.tsx
  frontend/src/views/search/SearchView.tsx
  frontend/yarn.lock
Due: frontend

sort words lists
  frontend/src/components/search/SearchList.tsx
Due: frontend

SearchList: do not show first/last names in Mobile
  frontend/src/components/search/SearchList.tsx
Due: frontend

re-adjusted columns dimensions
  frontend/src/components/search/SearchList.tsx
Due: frontend

Fix hooks
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/users/UserView.tsx
Due: frontend

Finally, got em
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/useQueriedFetchFromAPI.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

Update with new hook fetching logic
  frontend/src/components/SearchBar.tsx
  frontend/src/components/posts/PostForm.tsx
  frontend/src/hooks/useFetchFromAPI.tsx
  frontend/src/hooks/users/useGetUsers.tsx
Due: frontend

storybook new components/view; navigation test fix
  frontend/src/components/Navigation.stories.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/search/SearchBar.stories.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchTabs.stories.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/views/search/SearchView.stories.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

fixes the crash that happens when emptying the MultiSelect
  frontend/src/components/forms/MultiSelect.tsx
Due: frontend

Add temporary route to patch user
  backend/src/controllers/users.controller.ts
  backend/src/services/image.service.ts
  backend/src/types/users.ts
Due: backend

Add some more parts for s3 client
  backend/package.json
  backend/src/clients/s3.client.ts
  backend/src/services/image.service.ts
  backend/yarn.lock
Due: backend

Add more temporary things to S3 client
  backend/src/clients/s3.client.ts
Due: backend

Adds authentification and authorization (#335)
  backend/README.md
  backend/package.json
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  backend/src/connect.database.ts
  backend/src/controllers/authenticator.ts
  backend/src/controllers/token.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/generators/fake.data.generator.ts
  backend/src/main.ts
  backend/src/middlewares/error.handler.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/middlewares/logger.ts
  backend/src/models/posts.model.ts
  backend/src/models/users.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/errors.ts
  backend/src/types/posts.ts
  backend/src/types/users.ts
  backend/yarn.lock
  frontend/src/components/Navigation.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/PostCard.tsx
  frontend/src/components/posts/PostList.tsx
  frontend/src/factories/PostFactory.tsx
  frontend/src/http-common.tsx
  frontend/src/types/posts.ts
  frontend/src/types/users.ts
Due: backend, frontend

Image upload works
  backend/src/clients/s3.client.ts
  backend/src/routes/routes.ts
  backend/src/services/image.service.ts
  backend/src/swagger.json
Due: backend

Add more temporary logs and things to monitor what happens
  backend/src/clients/s3.client.ts
  backend/src/controllers/users.controller.ts
Due: backend

Add note about backend not rebuilding in README
  README.md
Due: none

Fix hooks
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/http-common.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/posts/FeedView.tsx
Due: frontend

Almost finish SearchBar, selected value error
  frontend/src/components/SearchBar.tsx
  frontend/src/components/search/SearchBar.tsx
Due: frontend

Add cleanup and TODOs
  frontend/src/components/search/SearchBar.tsx
Due: frontend

Add search queries to search view (WIP : hooks go into infinite mode)
  frontend/src/components/Navigation.tsx
  frontend/src/components/search/SearchBar.stories.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.stories.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.stories.tsx
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

Update dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Clarify names and add TODO
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/router/Config.tsx
  frontend/src/views/search/SearchView.tsx
Due: frontend

Get hashtags with query on search view
  frontend/src/components/search/SearchList.tsx
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/useQueriedFetchFromAPI.tsx
  frontend/src/types/posts.ts
  frontend/src/views/search/SearchView.tsx
Due: frontend

Get descriptions with query on search view
  frontend/src/views/search/SearchView.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
