Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix typo
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

Add MainLayout
  frontend/src/App.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/views/posts/Post.tsx
Due: frontend

Move theme to layout
  frontend/src/App.tsx
  frontend/src/layouts/MainLayout.tsx
Due: frontend

Add MainLayout testsd
  frontend/src/layouts/MainLayout.test.tsx
Due: frontend

Add MainLayout stories
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/util/wrapInMemoryRouter.tsx
Due: frontend

Related to #21
  README.md
  backend/api/swagger.json
  backend/package.json
  backend/src/controllers/users.controller.ts
  backend/src/errorHandler.ts
  backend/src/main.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/services/users.service.ts
  backend/src/types/users.ts
  backend/yarn.lock
  database/Dockerfile
  database/README.md
  docker-compose.yml
Due: backend

Use memory router hook in view stories
  frontend/src/hooks/useMemoryRouter.tsx
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/views/posts/Feed.stories.tsx
  frontend/src/views/posts/Post.stories.tsx
  frontend/src/views/users/User.stories.tsx
  frontend/src/views/users/Users.stories.tsx
Due: frontend

Use memory router hook in view tests
  frontend/src/views/posts/Feed.test.tsx
  frontend/src/views/posts/Post.test.tsx
  frontend/src/views/users/User.test.tsx
  frontend/src/views/users/Users.test.tsx
Due: frontend

Enhance tests descriptions
  frontend/src/App.test.tsx
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/SearchBar.test.tsx
  frontend/src/layouts/MainLayout.test.tsx
  frontend/src/views/posts/Feed.test.tsx
  frontend/src/views/posts/Post.test.tsx
  frontend/src/views/users/User.test.tsx
  frontend/src/views/users/Users.test.tsx
Due: frontend

Related to issue #56
  backend/api/swagger.json
  backend/src/controllers/users.controller.ts
  backend/src/controllers/usersPosts.controller.ts
  backend/src/errorHandler.ts
  backend/src/models/posts.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/services/posts.service.ts
  backend/src/types/errors.ts
  backend/src/types/posts.ts
  backend/src/types/users.ts
  backend/src/util/posts.factory.ts
Due: backend

Add some TODOs and postman resources
  backend/api/swagger.json
  backend/resources/postman_collection.json
  backend/resources/postman_environment.json
  backend/src/controllers/users.controller.test.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/routes/routes.ts
  backend/src/types/posts.ts
  docker-compose.yml
Due: backend

Add mention of resources in README
  backend/README.md
Due: backend

add UserAvatar, EditUserAvatar + connected hoc to aws bucket still tests to finish
  frontend/.env
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/User/EditUserAvatar.test.tsx
  frontend/src/components/User/EditUserAvatar.tsx
  frontend/src/components/User/UserAvatar.test.tsx
  frontend/src/components/User/UserAvatar.tsx
  frontend/src/hoc/awsS3.tsx
Due: frontend

add tests for UserAvatar and EditUserAvatar
  frontend/package.json
  frontend/src/components/User/EditUserAvatar.test.tsx
  frontend/src/components/User/EditUserAvatar.tsx
  frontend/src/components/User/UserAvatar.test.tsx
  frontend/src/components/User/__snapshots__/UserAvatar.test.tsx.snap
Due: frontend

Add flags to CI for code coverage reporting
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Change ugram to Ugram in READMEs
  backend/README.md
  database/README.md
  frontend/README.md
Due: backend, frontend

Add jest config to frontend
  frontend/jest.config.js
Due: frontend

Changes x-www-form-urlencoded pour JSON
  backend/src/main.ts
Due: backend

Adds the PostCard component, adds the controls dependency to storybooks
  backend/src/routes/routes.ts
  frontend/.eslintrc.json
  frontend/.storybook/main.js
  frontend/package.json
  frontend/src/components/PostCard.test.tsx
  frontend/src/components/PostCard.tsx
  frontend/src/components/PostCardProps.d.tsx
  frontend/src/views/posts/Feed.tsx
  frontend/src/views/posts/Post.stories.tsx
  frontend/src/views/posts/Post.tsx
  frontend/yarn.lock
Due: backend, frontend

visual changes to PostCard
  frontend/src/components/PostCard.test.tsx
  frontend/src/components/PostCard.tsx
Due: frontend

Unformize backend
  backend/api/swagger.json
  backend/src/controllers/users.controller.test.ts
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/models/users.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/services/users.service.ts
Due: backend

Test users controller
  backend/src/controllers/users.controller.test.ts
  backend/src/controllers/users.controller.ts
  backend/src/services/users.service.ts
  backend/src/util/users.factory.ts
Due: backend

Test users posts controller
  backend/src/controllers/users.posts.controller.test.ts
  backend/src/util/posts.factory.ts
Due: backend

Test services
  backend/src/models/posts.model.ts
  backend/src/models/users.model.test.ts
  backend/src/models/users.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/services/posts.service.test.ts
  backend/src/services/users.service.test.ts
Due: backend

Test posts repository
  backend/.eslintrc.json
  backend/src/repositories/posts.repository.test.ts
  backend/src/repositories/posts.repository.ts
Due: backend

Test users repository creation
  backend/src/repositories/posts.repository.test.ts
  backend/src/repositories/users.repository.test.ts
  backend/src/repositories/users.repository.ts
Due: backend

Fix typos
  backend/src/repositories/posts.repository.test.ts
  backend/src/repositories/users.repository.test.ts
Due: backend

Add coverage workflow, to make sure no coverage is removed
  .github/workflows/backend-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/frontend-ci.yml
  codecov.yml
Due: none

Remove jobs
  .github/workflows/coverage.yml
Due: none

Exclude stories from code coverage
  .github/workflows/coverage.yml
Due: none

Add codecov comments
  codecov.yml
Due: none

Add flags to coverage
  .github/workflows/coverage.yml
Due: none

Delete liens.txt
  liens.txt
Due: none

fix test for UserAvatar
  frontend/package.json
  frontend/src/components/User/EditUserAvatar.test.tsx
  frontend/src/components/users/EditUserAvatar.test.tsx
  frontend/src/components/users/EditUserAvatar.tsx
  frontend/src/components/users/UserAvatar.test.tsx
  frontend/src/components/users/UserAvatar.tsx
  frontend/src/components/users/__snapshots__/UserAvatar.test.tsx.snap
  frontend/src/hoc/awsS3.test.tsx
  frontend/src/hoc/awsS3.tsx
Due: frontend

Adds error handling for duplicate emails / phone numbers
  backend/src/repositories/users.repository.ts
Due: backend

fix test errors
  frontend/src/components/users/UserAvatar.test.tsx
Due: frontend

Change the two-reviewers rule to one-reviewer
  CONTRIBUTING.md
Due: none

Add tests for email and phone number existance
  backend/src/repositories/users.repository.test.ts
  backend/src/repositories/users.repository.ts
Due: backend

fix lint
  frontend/package.json
Due: frontend

fix tests
  frontend/src/hoc/awsS3Test.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
