Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  backend:
    paths:
      - backend
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Clarify backend testing in README
  README.md
Due: none

Implements endpoint to modify post
  backend/api/swagger.json
  backend/package.json
  backend/src/controllers/posts.controller.ts
  backend/src/main.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/types/posts.ts
  backend/yarn.lock
Due: backend

fix unit test for IconButton
  frontend/src/components/users/EditUserAvatar.test.tsx
  frontend/src/components/users/EditUserAvatar.tsx
  frontend/src/components/users/UserAvatar.tsx
Due: frontend

Inlines local variable
  backend/src/repositories/posts.repository.ts
Due: backend

add alert for s3 if upload failed
  frontend/package.json
  frontend/src/components/users/UserAvatar.test.tsx
  frontend/src/hoc/awsS3.tsx
Due: frontend

code according to team norms
  frontend/src/components/users/EditUserAvatar.tsx
  frontend/src/components/users/UserAvatar.tsx
Due: frontend

delete unused variables
  frontend/src/hoc/awsS3.tsx
Due: frontend

delete useless imports
  frontend/src/components/users/EditUserAvatar.test.tsx
Due: frontend

delete snapshot tests and replace them with unit tests
  frontend/src/components/users/UserAvatar.test.tsx
  frontend/src/components/users/__snapshots__/UserAvatar.test.tsx.snap
Due: frontend

fix test
  frontend/src/components/users/UserAvatar.test.tsx
Due: frontend

fix for reviews
  frontend/src/components/users/EditUserAvatar.tsx
  frontend/src/components/users/UserAvatar.test.tsx
  frontend/src/components/users/UserAvatar.tsx
Due: frontend

delete useless test file
  frontend/src/hoc/awsS3Test.tsx
Due: frontend

userInfo Feature
  frontend/src/components/users/userInfo/UserInfo.test.tsx
  frontend/src/components/users/userInfo/UserInfo.tsx
  frontend/src/components/users/userInfo/UserInfoDescription.test.tsx
  frontend/src/components/users/userInfo/UserInfoDescription.tsx
  frontend/src/components/users/userInfo/UserInfoHeader.test.tsx
  frontend/src/components/users/userInfo/UserInfoHeader.tsx
  frontend/src/components/users/userInfo/UserInfoStats.test.tsx
  frontend/src/components/users/userInfo/UserInfoStats.tsx
Due: frontend

Nav bar buttons functional exept.the '+ button'; unit tests ~ complete for now; history no longer user
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/layouts/MainLayout.test.tsx
  frontend/src/views/users/UserProps.d.ts
  frontend/yarn.lock
Due: frontend

clean-up
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/views/users/UserProps.d.ts
Due: frontend

Implements API endpoint for user modification Refactors some naming for consistency
  backend/api/swagger.json
  backend/src/controllers/users.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/models/users.model.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/types/posts.ts
  backend/src/types/users.ts
  backend/src/util/posts.factory.ts
  backend/src/util/users.factory.ts
Due: backend

Add EditUserAvatar stories and fixes
  backend/src/util/posts.factory.ts
  backend/src/util/users.factory.ts
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/users/EditUserAvatar.stories.tsx
  frontend/src/components/users/EditUserAvatar.test.tsx
  frontend/src/components/users/EditUserAvatar.tsx
  frontend/src/components/users/UserAvatar.test.tsx
  frontend/src/components/users/UserAvatar.tsx
  frontend/yarn.lock
Due: backend, frontend

Add UserAvatar story
  frontend/src/components/users/UserAvatar.stories.tsx
  frontend/src/components/users/UserAvatar.tsx
Due: frontend

Change memory router wrapping from hook to util
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/util/wrapInMemoryRouter.tsx
  frontend/src/views/posts/Feed.stories.tsx
  frontend/src/views/posts/Feed.test.tsx
  frontend/src/views/posts/Post.stories.tsx
  frontend/src/views/posts/Post.test.tsx
  frontend/src/views/users/User.stories.tsx
  frontend/src/views/users/User.test.tsx
  frontend/src/views/users/Users.stories.tsx
  frontend/src/views/users/Users.test.tsx
Due: frontend

Fix typo
  backend/src/repositories/users.repository.ts
Due: backend

Fix build
  backend/src/util/posts.factory.ts
  backend/src/util/users.factory.ts
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/views/posts/Feed.stories.tsx
  frontend/src/views/posts/Post.stories.tsx
  frontend/src/views/users/User.stories.tsx
  frontend/src/views/users/Users.stories.tsx
Due: backend, frontend

corrections for PR 152
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/users/EditUserAvatar.tsx
  frontend/src/components/users/UserAvatar.tsx
  frontend/src/views/users/UserProps.d.ts
Due: frontend

Fix first/last name regex
  backend/src/models/users.model.ts
Due: backend

fix for review
  frontend/src/components/users/userInfo/UserInfo.test.tsx
  frontend/src/components/users/userInfo/UserInfoStats.test.tsx
Due: frontend

Add patch requests
  backend/resources/postman_collection.json
Due: backend

delete css test
  frontend/src/components/users/userInfo/UserInfoHeader.test.tsx
  frontend/src/components/users/userInfo/UserInfoStats.test.tsx
Due: frontend

Add patch good path for user
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
  backend/src/routes/routes.ts
Due: backend

Fix e2e tests post-modification and add username validation
  backend/resources/postman_collection_e2e.json
Due: backend

fix tests
  frontend/src/components/users/userInfo/UserInfoDescription.test.tsx
  frontend/src/components/users/userInfo/UserInfoHeader.test.tsx
Due: frontend

Add description and avatar to patch user e2e tests
  backend/resources/postman_collection.json
  backend/resources/postman_collection_e2e.json
  backend/resources/postman_environment.json
Due: backend

Add e2e test for PATCH /users/:username phone number
  backend/resources/postman_collection_e2e.json
Due: backend

Add e2e test for PATCH /users/:username first and last name
  backend/resources/postman_collection_e2e.json
Due: backend

Add last e2e tests for patch user
  backend/resources/postman_collection_e2e.json
Due: backend

Enhance duplicate checking for patch users
  backend/src/repositories/users.repository.ts
Due: backend

Fix some e2e tests
  backend/resources/postman_collection_e2e.json
Due: backend

Fix all e2e tests for patch users
  backend/resources/postman_collection_e2e.json
Due: backend

unit tests: replace 'test' with 'it should contain'
  frontend/src/components/Navigation.test.tsx
Due: frontend

Add e2e tests for patch post
  backend/resources/postman_collection_e2e.json
Due: backend

Fix memory router wrapper in main layout stories
  frontend/src/layouts/MainLayout.stories.tsx
Due: frontend

Move request to appropriate folder
  backend/resources/postman_collection.json
Due: backend
