Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fixes the availability of the send button for the PostForm
  frontend/src/components/posts/PostForm.tsx
Due: frontend

add camera full mode for mobile
  frontend/package.json
  frontend/src/components/Cam/Cam.stories.tsx
  frontend/src/components/Cam/ImagePreview.tsx
  frontend/src/components/Cam/index.css
  frontend/src/components/Cam/index.tsx
  frontend/src/components/posts/PostForm.tsx
Due: frontend

image preview fits full width
  frontend/src/components/Cam/ImagePreview.tsx
Due: frontend

delete logs
  frontend/src/components/posts/PostForm.tsx
Due: frontend

delete useless packages
  frontend/package.json
Due: frontend

add lock file
  frontend/yarn.lock
Due: frontend

fix lint
  frontend/src/components/Cam/ImagePreview.tsx
  frontend/src/components/Cam/index.test.tsx
  frontend/src/components/Cam/index.tsx
Due: frontend

fix review changes requests
  frontend/src/components/Cam/Cam.stories.tsx
  frontend/src/components/posts/PostForm.tsx
Due: frontend

fix lint imports
  frontend/src/components/posts/PostForm.tsx
Due: frontend

fix lint with relativ path
  frontend/src/components/posts/PostForm.tsx
Due: frontend

fix imports
  frontend/src/components/posts/PostForm.tsx
Due: frontend

rename index to Cam
  frontend/src/components/Cam/Cam.stories.tsx
  frontend/src/components/Cam/Cam.test.tsx
  frontend/src/components/Cam/Cam.tsx
  frontend/src/components/posts/PostForm.tsx
Due: frontend

Rename folder
  frontend/src/components/cam/Cam.stories.tsx
  frontend/src/components/cam/Cam.test.tsx
  frontend/src/components/cam/Cam.tsx
  frontend/src/components/cam/ImagePreview.test.tsx
  frontend/src/components/cam/ImagePreview.tsx
  frontend/src/components/cam/index.css
Due: frontend

Update Cam.stories.tsx
  frontend/src/components/cam/Cam.stories.tsx
Due: frontend

Adds notifiedAt field to User schema, which can be PATCHed
  backend/src/factories/users.factory.ts
  backend/src/models/users.model.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/users.ts
  frontend/src/factories/UserFactory.tsx
  frontend/src/types/users.ts
Due: backend, frontend

#373 Units tests for SearchView and Search components
  frontend/src/components/search/SearchImage.test.tsx
  frontend/src/components/search/SearchList.test.tsx
  frontend/src/components/search/SearchTabs.test.tsx
  frontend/src/views/search/SearchView.test.tsx
Due: frontend

Adds persistency to notifications
  backend/src/controllers/notifications.controller.ts
  backend/src/models/notifications.model.ts
  backend/src/repositories/notifications.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/notifications.ts
  frontend/src/App.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/hooks/notifications/useGetNotifications.ts
  frontend/src/layouts/MainLayout.stories.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/services/APIService.tsx
  frontend/src/types/notifications.ts
Due: backend, frontend

Adds E2E test
  backend/resources/postman_collection_e2e.json
Due: backend

Change getting posts content structure
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/types/paged.results.ts
  frontend/src/components/cam/Cam.stories.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/hooks/posts/useGetPosts.tsx
  frontend/src/hooks/users/useGetUserPosts.tsx
  frontend/src/types/paged.results.ts
  frontend/src/views/posts/FeedView.tsx
  frontend/src/views/search/SearchView.tsx
  frontend/src/views/users/UserView.test.tsx
  frontend/src/views/users/UserView.tsx
Due: backend, frontend

Paginate getting posts
  backend/resources/postman_collection.json
  backend/src/controllers/posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/paged.results.ts
Due: backend

Paginate getting user's posts
  backend/src/controllers/users.posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  frontend/src/types/paged.results.ts
Due: backend, frontend

Persistent notifications (#535)
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/notifications.controller.ts
  backend/src/controllers/posts.controller.ts
  backend/src/factories/users.factory.ts
  backend/src/main.ts
  backend/src/middlewares/events.ts
  backend/src/models/notifications.model.ts
  backend/src/models/posts.model.ts
  backend/src/models/users.model.ts
  backend/src/repositories/notifications.repository.ts
  backend/src/repositories/posts.repository.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/notifications.ts
  backend/src/types/posts.ts
  backend/src/types/users.ts
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/factories/UserFactory.tsx
  frontend/src/hooks/notifications/useGetNotifications.ts
  frontend/src/services/APIService.tsx
  frontend/src/types/notifications.ts
  frontend/src/types/users.ts
Due: backend, frontend

Add reverse if sort is asc
  backend/src/repositories/posts.repository.ts
Due: backend

Add "notifications" button in nav bars
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/components/MobileBar.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/types/users.ts
Due: frontend

Update swagger
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/swagger.json
Due: backend

Update backend dependencies
  backend/package.json
  backend/yarn.lock
Due: backend

Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add new postman queries for GET /posts
  backend/resources/postman_collection.json
  backend/resources/postman_environment.json
  backend/src/controllers/posts.controller.ts
  backend/src/controllers/users.posts.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

removed unnecessary code for notifications; tests update
  frontend/src/components/MobileBar.stories.tsx
  frontend/src/components/MobileBar.test.tsx
  frontend/src/components/Navigation.test.tsx
  frontend/src/components/Navigation.tsx
Due: frontend

removed unnecessary line
  frontend/src/components/Navigation.tsx
Due: frontend

consolidates the Cam component within the PostForm
  frontend/src/components/cam/Cam.stories.tsx
  frontend/src/components/cam/Cam.tsx
  frontend/src/components/forms/ImageField.tsx
  frontend/src/components/posts/CreatePost.tsx
  frontend/src/components/posts/EditPost.tsx
  frontend/src/components/posts/PostForm.tsx
Due: frontend

Add new postman queries for GET /users/:username/posts
  backend/resources/postman_collection.json
  backend/src/controllers/hashtags.controller.ts
Due: backend

Fix e2e tests
  backend/resources/postman_collection_e2e.json
Due: backend

Correct count
  backend/src/repositories/posts.repository.ts
Due: backend

Rename greaterThan to after when getting hashtags
  backend/src/controllers/hashtags.controller.ts
  backend/src/repositories/posts.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
Due: backend

Add paged posts e2e tests
  backend/resources/postman_collection_e2e.json
Due: backend

Add paged user's posts e2e tests
  backend/resources/postman_collection_e2e.json
Due: backend

Fix tests
  frontend/src/types/hashtags.ts
  frontend/src/views/users/UserView.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
