Repository fabien-roy/glo-3112-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Only trigger coverage workflow on PRs and after CIs workflows
  .github/workflows/coverage.yml
Due: none

clean-up left to do
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.stories.tsx
Due: frontend

linting
  frontend/src/components/search/SearchBar.test.tsx
Due: frontend

clean-up missing!
  frontend/src/components/search/SearchBar.test.tsx
Due: frontend

fixed Searchbar input/route issues #377
  frontend/src/components/search/SearchBar.tsx
Due: frontend

SearchList on-going beautifying
  frontend/src/components/search/SearchList.tsx
Due: frontend

Update Postman requests
  backend/resources/postman_collection.json
Due: backend

Fix CD workflow
  .github/workflows/backend-cd-staging.yml
Due: none

Fix CD workflow (production)
  .github/workflows/backend-cd-production.yml
Due: none

Fix coverage workflow
  .github/workflows/coverage.yml
Due: none

add login feature
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/Icons/CustomIcons/GoogleIcon.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/layouts/AuthentificationLayout.stories.tsx
  frontend/src/layouts/AuthentificationLayout.test.tsx
  frontend/src/layouts/AuthentificationLayout.tsx
  frontend/src/layouts/Theme.tsx
  frontend/src/router/Config.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/auth/LoginView.stories.tsx
  frontend/src/views/auth/LoginView.test.tsx
  frontend/src/views/auth/LoginView.tsx
Due: frontend

fix number of post shown in dropdown
  frontend/src/components/search/SearchBar.tsx
Due: frontend

fix routing
  frontend/src/App.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/layouts/AuthentificationLayout.stories.tsx
  frontend/src/layouts/AuthentificationLayout.test.tsx
  frontend/src/layouts/AuthentificationLayout.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/router/Config.tsx
  frontend/src/router/PrivateRoute.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/auth/LoginView.tsx
Due: frontend

Relaxes User schema to be compatible with Google names (#383)
  backend/resources/postman_collection_e2e.json
  backend/src/middlewares/google.strategy.ts
  backend/src/models/users.model.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
  backend/src/swagger.json
  backend/src/types/users.ts
  frontend/src/types/users.ts
Due: backend, frontend

Fix queried hooks not updating with search bar
  frontend/src/hooks/useQueriedFetchFromAPI.tsx
Due: frontend

Update environment URLs
  README.md
Due: none

fix login issue
  frontend/src/App.tsx
  frontend/src/context/userContext.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/router/PrivateRoute.tsx
  frontend/src/router/Router.tsx
Due: frontend

add redirect to login when server session is done
  frontend/src/router/PrivateRoute.tsx
Due: frontend

Separate env vars for stages
  docker-compose.yml
  frontend/.env
  frontend/.env.local
  frontend/.env.production
  frontend/.env.staging
  frontend/package.json
Due: frontend

Add staging CD workflow
  .github/workflows/frontend-cd-staging.yml
Due: none

Add missing dep
  frontend/package.json
Due: frontend

Add production CD and some tests
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-production.yml
  README.md
  backend/src/main.ts
Due: backend

Remove test actions on workflows
  .github/workflows/backend-cd-staging.yml
  .github/workflows/frontend-cd-production.yml
  .github/workflows/frontend-cd-staging.yml
Due: none

Add link to README
  README.md
Due: none

Add link to hashtag buttons
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

Enhance TagsSection logic
  frontend/src/components/posts/TagsSection.tsx
Due: frontend

Adds user to response cookie
  backend/resources/postman_collection_e2e.json
  backend/src/controllers/users.controller.ts
  backend/src/main.ts
  backend/src/middlewares/google.strategy.ts
  backend/src/models/users.model.ts
  backend/src/repositories/users.repository.ts
  backend/src/routes/routes.ts
Due: backend

Update README badges
  README.md
Due: none

SearchList beautifying, fixed number of posts shown in SearchList; SearchBar: fixed to clear the input at focus lost removed obsolete router changes that were done for SearchView
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchList.tsx
  frontend/src/components/search/SearchTabs.tsx
  frontend/src/router/Config.tsx
Due: frontend

add login + logout + route config
  frontend/src/components/ButtonMenuElement.tsx
  frontend/src/components/Menu.tsx
  frontend/src/components/MenuElement.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/hooks/users/useGetLoggedUser.tsx
  frontend/src/router/PrivateRoute.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/APIService.tsx
  frontend/src/views/auth/LoginView.test.tsx
  frontend/src/views/auth/LoginView.tsx
  frontend/tsconfig.json
Due: frontend

Update backend dependencies
  backend/package.json
  backend/yarn.lock
Due: backend

Update frontend dependencies
  frontend/package.json
Due: frontend

Do not run coverage on PRs
  .github/workflows/coverage.yml
Due: none

add components tests
  frontend/src/components/Navigation.tsx
  frontend/src/components/navigation/ButtonMenuElement.test.tsx
  frontend/src/components/navigation/ButtonMenuElement.tsx
  frontend/src/components/navigation/Menu.test.tsx
  frontend/src/components/navigation/Menu.tsx
  frontend/src/components/navigation/MenuElement.test.tsx
  frontend/src/components/navigation/MenuElement.tsx
Due: frontend

delete comments
  frontend/src/components/Navigation.tsx
Due: frontend

creates the baseline CompactImageField component
  frontend/src/components/forms/CompactImageField.tsx
  frontend/src/components/users/settings/EditUserForm.tsx
Due: frontend

fix tests
  frontend/src/components/Navigation.test.tsx
Due: frontend

replace httpWithCredentials to http
  frontend/src/http-common.tsx
  frontend/src/services/APIService.tsx
Due: frontend

delete useless imports
  frontend/src/hooks/users/useGetLoggedUser.tsx
Due: frontend

Path conditions:
  backend: any of: backend
  frontend: any of: frontend
